# Systemd resource file
[Unit]
DefaultDependencies=no
Description=Victron venus application
After=networking.service
ConditionPathExists=/opt/venus

[Service]
Type=simple
EnvironmentFile=/etc/default/venus
ExecStart=/usr/local/bin/venus-boot.sh  $ROOTDIR $METHOD
ExecStop=/bin/sh -c "docker stop $(docker ps | grep debian | awk '{print $1}')"
RemainAfterExit=no
User=root

[Install]
WantedBy=sysinit.target
